// Variables
$desktop_width: 1100px;
$tablet_width: 700px;
$mobile_width: 480px;
.main__container {
  height: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 40px 30px;
  @media (max-width: $tablet_width) {
    padding: 0 15px;
  }
}

.work {
  background-color: #edf2f7;

  &__title {
    text-align: center;
    margin-top: 4%;
    font-size: 52px;
    font-family: Roboto, sans-serif;
    font-weight: bolder;
    color: #4b5ebe;
  }

  &__subtitle {
    margin-top: 1%;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    margin-bottom: 3%;
  }

  .work__wrap:hover {
    bottom: 1px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  }

  .work__wrap {
    & a {
      text-decoration: none;
      color: black;
    }

    position: relative;
    cursor: pointer;
    background-color: white;
    transition-duration: 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 30%;
    height: auto;
    justify-content: space-around;
    margin-top: 1.5%;
    margin-bottom: 2%;
    @media (max-width: 1200px) {
      width: 47%;
    }
    @media (max-width: $tablet_width) {
      width: 75%;
    }
    transform: translate(0px, 40%);
    opacity: 0;
    transition: all 0.6s ease 0s;

    .work__item {
      background-color: #ffebdf;
      border-radius: 20px;
      height: 480px;
      margin: 10px;
      display: flex;
      flex-direction: column;

      &_title {
        color: #333c66;
        font-size: 20px;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bolder;
        text-transform: uppercase;
        margin-left: 10%;
        margin-top: 7%;
      }

      &_desc {
        font-family: Montserrat, sans-serif;
        margin-left: 10%;
        margin-top: 5%;
        font-size: 17px;
        word-wrap: break-word;
      }

      &_tools {
        display: flex;
        justify-content: space-between;
        width: 30%;
        height: auto;
        margin-left: 8%;
        margin-top: 5%;
        @media (max-width: $mobile_width) {
          text-align: center;
          margin-right: 5%;
          flex-wrap: wrap;
        }

        .item-tools {
          font-family: Montserrat, sans-serif;
          border-radius: 4px;
          background-color: #d2bfba;
          color: #303248;
          margin-left: 10%;
          padding: 4% 3%;
          @media (max-width: $mobile_width) {
            word-wrap: break-word;
            margin-bottom: 5px;
          }
        }
      }

      &_type {
        border-radius: 4px;
        color: #565360;
        margin-left: 10%;
        margin-top: 5%;
        background-color: #fff5ef;
        padding: 1% 2%;
        width: 230px;
        text-align: center;
        font-family: Quicksand, sans-serif;
        @media (max-width: $mobile_width) {
          margin-left: 5%;
          word-wrap: break-word;
          display: block;
          width: fit-content;
        }
      }
    }
  }
}

.work__wrap._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.first-image img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  top: 20%;
  left: 10%;
  border-radius: 4px;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 10px;
  @media (max-width: 1200px) {
    top: 20px;
    left: 10%;
    width: 80%;
    height: auto;
  }
}

.second-image img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  right: 50%;
  top: 50%;
  z-index: 5;
  position: relative;
  width: 85%;
  height: auto;
  @media (max-width: 1200px) {
    width: 60%;
    height: auto;
  }
}

.work__item_images {
  display: flex;
  @media (max-width: 1200px) {
    justify-content: center;
  }
}

.work__case {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  @media (max-width: 1200px) {
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  }
  @media (max-width: $tablet_width) {
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: $tablet_width) {
  .work__title {
    font-size: 36px;
  }
  .work__subtitle {
    font-size: 20px;
  }
  .work__wrap {
    width: 100%;
  }

}
